section{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:50px;
}
.Fade {
    display:none;
    position:absolute;
    justify-content:center;
    align-items:center;
    background-color: rgba(0, 0, 0, 0.75);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index:99;
}
.Modal {
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}
.Modal .Modal-Content{
    display:flex;
    flex-direction:column;
    align-items:center;
}
    .Modal button:not(#closeModal) {
        cursor: pointer;
        text-align: center;
        width: 100%;
        height: 50px;
        border: none;
        margin-bottom: 5px;
    }
.Modal button:hover{
    background-color:#a8a7a7;
}
#closeModal{
    width:fit-content;
    cursor:pointer;
    text-align:right;
    background:none;
    border:none;
}
    #closeModal:hover {
        color: #a8a7a7;
    }
.cart {
    width: 320px;
    padding: 0 10px 0 10px;
}

.cart-header {
    text-align: center;
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.product{
    text-align:center;
    background-color:#fff;
    padding:10px;
    border-radius:10px;
}
.product-trash {
    text-align: right;
}
.RemoveProduct{
    border:none;
    background-color:transparent;
}
.image-description-wrapper {
    display: flex;
}

.product-image {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
}

.product-description {
    width:160px;
    margin-bottom: 10px;
    cursor:pointer;
}

    .product-description .description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; /*number of lines to show */
        line-clamp: 4;
        -webkit-box-orient: vertical;
        color: #b9b9b9;
    }

    .product-description h6 {
        color: var(--bs-body-color);
        text-align: center;
        font-size: 17px;
    }
    .product-description a {
        text-decoration:none;
    }
.unit{
    border:1px solid #e1e1e1;
    cursor:pointer;
    padding:3px 8px 3px 8px;
    border-radius:5px;
}
    .unit:hover {
        border: 1px solid #808080;
    }
.product-total {
    display: flex;
    gap:50px;
    justify-content:center;
}
.coupon-checkout {
    background-color: #fff;
    height: fit-content;
    padding: 10px;  
    border-radius: 10px;
}
#couponDiscount{
    color:#4ac800;
}
.empty-cart{
    width:100%;
    display:flex;
    flex-direction:column;
    text-align:center;
    align-items:center;
}
.empty-cart a{
    width:50%;
}